* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}
.home-con {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
}
.header-con {
  height: 100px;
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.link {
  font-family: 'roboto';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}

.header-con-smallSize {
  display: none; /* Hide small header */
}
.main-heading {
  font-size: 45px;
  color: #fff;
}
.home-data-con {
  padding: 40px;
  padding-top: 50px;
  width: 50%;
  color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.home-description {
  font-size: 25px;
}
@media (max-width: 767px) {
  .home-con {
    height: 100vh;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
  }

  .header-con {
    display: none;
  }

  .home-data-con {
    padding: 40px;
    padding-top: 50px;
    width: 100%;
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .header-con-smallSize {
    height: 100px;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .check {
    display: none;
  }
}
